/*Variables*/

  /*Colors*/
  $principal_color: #33C3F0;
  $second_color: #741D51;
  $third_color: #E44E52;

  $white: white;
  $gray: #F2F2F2;
  $black: black;

  /*Fonts*/
  $principal_font: 'Raleway', sans-serif;

  /*Screen sizes for Media Queries*/
  $phone: 480px;
  $tablet: 768px;
  $desktop: 1024px;